<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/poke.ico"/>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Java script requirements -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Gotta Catch-em All! (╯°□°)╯︵◓ </title>

<CENTER>

<!-- CSS -->
<style type="text/css">

div.background {
  background: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fdata.1freewallpapers.com%2Fdownload%2Fserena-on-the-bike-pokemon-1600x900.jpg&f=1&nofb=1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
div.transbox {
  width: 500px;
  height: 225px;
  margin: 10px;
  /* background: rgba(76, 175, 80, 0.3) */
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.85;
  /* filter: alpha(opacity=30); */
}
div.transbox p {
  margin: 5%;
  height: 10px
  font-weight: bold;
  color: #000000;
}
html,
body {
height: 100%;
}

body {
background-image: url(http://getwallpapers.com/wallpaper/full/b/e/8/595369.jpg);
background-repeat: no-repeat;
background-size: cover;
/* background-size: 100% 100%; */
}
</style>
</head>

<body>

  <!-- Navbar content -->
  <!-- <nav class="navbar navbar-dark" style="background-color: #3c5aa6;" text-align=center> # try to center if time
  <a class="navbar-brand" href="#" >Gotta Catch-em All! (╯°□°)╯︵◓ </a>
  </nav> -->

<div class="container-fluid">
  <br>
  <h1 class='transbox'><b>Gotta Catch-em All! (╯°□°)╯︵◓ <b></h1>
  <br>
  <p input align='center'>📍 Pokemon where you are:</p>

<!-- predicted pokemon-->
<div class='transbox'>
  <div> <div style="width: 25%; float:left">
    <p>{{names.0}}</p>
    <a href target="_blank" rel="noopener noreferrer"="https://bulbapedia.bulbagarden.net/wiki/{{names.0}}_(Pok%C3%A9mon)">
    <img src="static/images/gifs/{{gif.0}}.gif" width=50/>
    </a>
  </div>
  <div style="width: 25%; float:left">
    <p>{{names.1}}</p>
    <a href target="_blank" rel="noopener noreferrer"="https://bulbapedia.bulbagarden.net/wiki/{{names.1}}_(Pok%C3%A9mon)">
    <img src="static/images/gifs/{{gif.1}}.gif" width=50/>
    </a>
  </div>
  <div style="width: 25%; float:left">
    <p>{{names.2}}</p>
    <a href target="_blank" rel="noopener noreferrer"="https://bulbapedia.bulbagarden.net/wiki/{{names.2}}_(Pok%C3%A9mon)">
    <img src="static/images/gifs/{{gif.2}}.gif" width=50/>
    </a>
  </div>
  <div style="width: 25%; float:left">
    <p>{{names.3}}</p>
    <a href target="_blank" rel="noopener noreferrer"="https://bulbapedia.bulbagarden.net/wiki/{{names.3}}_(Pok%C3%A9mon)">
    <img src="static/images/gifs/{{gif.3}}.gif" width=50/>
    </a>
  </div>
  <div style="width: 25%; float:right">
    <p>{{names.4}}</p>
    <a href target="_blank" rel="noopener noreferrer"="https://bulbapedia.bulbagarden.net/wiki/{{names.4}}_(Pok%C3%A9mon)">
    <img src="static/images/gifs/{{gif.4}}.gif" width=50/>
    </a>
  </div>
  <div style="width: 25%; float:right">
    <p>{{names.5}}</p>
    <a href target="_blank" rel="noopener noreferrer"="https://bulbapedia.bulbagarden.net/wiki/{{names.5}}_(Pok%C3%A9mon)">
    <img src="static/images/gifs/{{gif.5}}.gif" width=50/>
    </a>
  </div>
  <div style="width: 25%; float:right">
    <p>{{names.6}}</p>
    <a href target="_blank" rel="noopener noreferrer"="https://bulbapedia.bulbagarden.net/wiki/{{names.6}}_(Pok%C3%A9mon)">
    <img src="static/images/gifs/{{gif.6}}.gif" width=50/>
    </a>
  </div>
  <div style="width: 25%; float:left">
    <p>{{names.7}}</p>
    <a href target="_blank" rel="noopener noreferrer"="https://bulbapedia.bulbagarden.net/wiki/{{names.7}}_(Pok%C3%A9mon)">
    <img src="static/images/gifs/{{gif.7}}.gif" width=50/>
    </a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a class="btn btn-primary btn-lg" href="/graph" role="button"> Details </a>
<br>
<br>
<br>
    <p style='background-color: white'>🖱️Click below to see Pokemon near your area.</p>
    <form method="POST">
        <p><a class="btn btn-dark btn-lg" href="/north" role="button"> ⬆️ </a></p>
          <p> <a class="btn btn-dark btn-lg" href="/west" role="button"> ⬅️ </a>
          <a class="btn btn-dark btn-lg" href="/east" role="button"> ➡️ </a></p>
          <p> <a class="btn btn-dark btn-lg" href="/south" role="button"> ⬇️ </a></p>
          <a class="btn btn-primary btn-lg" href="/manual" role="button"> 🗺️ Or Enter Your Parameters Manually </a>

    </form>
  </body>
</html>
