<!DOCTYPE html>
<html>
  <title>Car-o-matic 3000</title>
  <body>
    <h3>Car-o-matic 3000</h3>
    <form action = "/result" method="POST">
      <p>Select Location:
      <select name="Location">
        <option value='Mumbai'>Mumbai</option>
        <option value='Pune'>Pune</option>
        <option value='Chennai'>Chennai</option>
        <option value='Coimbatore'>Coimbatore</option>
        <option value='Hyderabad'>Hyderabad</option>
        <option value='Jaipur',>Jaipur</option>
        <option value='Kochi'>Kochi</option>
        <option value='Kolkata'>Kolkata</option>
        <option value='Delhi'>Delhi</option>
        <option value='Bangalore'>Bangalore</option>
        <option value='Ahmedabad'>Ahmedabad</option>
      </select>
      <p>Select Year:<input name="Year" type="number" value=2000></p>
      <p>Select Fuel Type:
      <select name="Fuel_Type">
        <option value="CNG">CNG</option>
        <option value="Diesel">Diesel</option>
        <option value="Petrol">Petrol</option>
        <option value="LPG">LPG</option>
      </select>
      <p>Select Transmission:
      <select name="Transmission">
        <option value="Manual">Manual</option>
        <option value="Automatic">Automatic</option>
      </select>
      <p>Select Engine (cc):<input name="Engine" type="number" value=1000></p>
      <p></p>Power:<input name="Power" type="number" value=58></p>
      <p>Select Number of Seats:<input name="Seats" type="number" value=2></p>
      <p><input type ="submit" value="submit"/></p>
    </form>
  </body>
</html>
